.title-text{
  font-size: 20px;
  line-height: 1.5;
  color: #20364b;
  font-weight: 600;
  font-family: 'ProximaNova', sans-serif;
}

.container-fluid {
  h2 {
    font-size: 18px;
    color: orange;
    font-weight: bold;
  }
  .mr-5 {
    margin-right: 5px;
  }
  .font-weight-bold {
    font-weight: bold;
  }
}
